.vscode
*.exe
*.o
dbms_refactored
dbms_main
dbms.log
slow_queries.txt
user.dat
.txnid
*.txn_backup
testdb/
testdb*
cttest/
info/
mvtest/
debug_db/
insert_test*/
inter_test/
round_test*/
testoverdb/
tmpidx/
[0-9]*/
*.tmp
build-*/
slow_query.log
dbms.log
dbms.conf
