.vscode
*.exe
*.o
dbms_refactored
dbms_main
dbms.log
slow_queries.txt
user.dat
.txnid
*.txn_backup
testdb/
testdb*
cttest/
info/
mvtest/
debug_db/
insert_test*/
inter_test/
round_test*/
testoverdb/
tmpidx/
[0-9]*/
drop_cascade_t*/
ddl_bridge_t*/
pgcat_view_t*/
catalog_service_t*/
*.tmp
build/
build-*/
slow_query.log
dbms.log
dbms.conf
