[0-9]*/
*.archive
audit.log
auto_explain.log
build-*/
build/
cttest/
dbms.conf
dbms.log
dbms_main
dbms_refactored
ddl_bridge_t*/
debug_db/
drop_cascade_t*/
*.exe
info/
insert_test*/
inter_test/
mvtest/
*.o
permissions.dat
pgcat_view_t*/
role.dat
round_test*/
runtime_wiring_t*/
slow_queries.txt
slow_query.log
testdb*
testdb/
testoverdb/
tests/__pycache__/
*.tmp
tmpidx/
*.txn_backup
.txnid
user.dat
.vscode
